.bg-featured-blog {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 15rem;
    padding: 4px;
  }
.img-fluid{
  width: 50%;
}